trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

stages:

# -------------------------
# BUILD STAGE
# -------------------------
- stage: Build
  displayName: "Build Stage"
  jobs:
    - job: Build_Application
      displayName: "Build Spring Boot Application"
      steps:

        - task: Maven@4
          inputs:
            azureSubscription: 'java-sc'
            mavenPomFile: 'claim-notification-service/pom.xml'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            javaHomeOption: 'JDKVersion'
            mavenVersionOption: 'Default'
            mavenAuthenticateFeed: false
            effectivePomSkip: false
            sonarQubeRunAnalysis: false

        - task: CopyFiles@2
          inputs:
            Contents: 'claim-notification-service/target/*.jar'
            TargetFolder: '$(Build.ArtifactStagingDirectory)'

        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'testjava'
            publishLocation: 'Container'


              