trigger:
  branches:
    include:
      - main

pool:
  name: Default

stages:
  - stage: Build
    displayName: "Build Stage"
    jobs:
      - job: Build_Application
        displayName: "Build Spring Boot Application"
        steps:

          - task: Maven@4
            inputs:
              azureSubscription: 'test-sc'
              mavenPomFile: 'claim-notification-service/pom.xml'
              publishJUnitResults: true
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              mavenVersionOption: 'Default'
              mavenAuthenticateFeed: false
              effectivePomSkip: false
              sonarQubeRunAnalysis: false
          - task: CopyFiles@2
            inputs:
              Contents: '**/*.jar'
              TargetFolder: '$(Build.ArtifactStagingDirectory)'
          