trigger:
  branches:
    include:
      - main

pool:
  name: Default

stages:

# -------------------------
# BUILD STAGE
# -------------------------
- stage: Build
  displayName: "Build Stage"
  jobs:
    - job: Build_Application
      displayName: "Build Spring Boot Application"
      steps:

        - task: Maven@4
          inputs:
            azureSubscription: 'test-sc'
            mavenPomFile: 'claim-notification-service/pom.xml'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
            javaHomeOption: 'JDKVersion'
            mavenVersionOption: 'Default'
            mavenAuthenticateFeed: false
            effectivePomSkip: false
            sonarQubeRunAnalysis: false

        - task: CopyFiles@2
          inputs:
            Contents: 'claim-notification-service/target/*.jar'
            TargetFolder: '$(Build.ArtifactStagingDirectory)'

        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'testjava'
            publishLocation: 'Container'


# -------------------------
# DEPLOY STAGE
# -------------------------
- stage: Deploy
  dependsOn: Build
  jobs:
    - job: DeployJob
      steps:

        # 1. Download Build Artifact to Agent
        - task: DownloadBuildArtifacts@1
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'testjava'
            downloadPath: '$(System.ArtifactsDirectory)'

        # 2. Upload JAR to VM using SCP
        - task: SSH@0
          displayName: "Upload JAR to VM"
          inputs:
            sshEndpoint: 'dev-ssh-connection'
            runOptions: 'inline'
            inline: |
              echo "Copying JAR to VM..."
              sudo mkdir -p /opt/app
            # Now transfer actual files
            readyTimeout: '20000'
            commands: |
              scp $(System.ArtifactsDirectory)/testjava/*.jar ***@20.238.39.118:/opt/app/

        # 3. Run Java App on VM
        - task: SSH@0
          displayName: "Start Application"
          inputs:
            sshEndpoint: 'dev-ssh-connection'
            runOptions: 'inline'
            inline: |
              echo "Starting Java App..."
              sudo sh -c "nohup java -jar /opt/app/*.jar > /opt/app/app.log 2>&1 &"



              